@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryColor: #7f56d9;
  --secondaryColor: #ef9f28;
  --tertiaryColor: #4f7df4;
  --quaternaryColor: #ffc107;
  --quinaryColor: #ff69b4;
  --senaryColor: #ff9300;
  --white: #ffffff;
  --black: #000000;
  --gray: #808080;
  --lightGray: #f7f7f7;
  --darkGray: #333333;
}

/* globals.css */
@import 'antd/dist/reset.css';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap');

:root {
  --primaryColor: '#7F56D9';
}

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: theme('borderColor.DEFAULT', currentColor); /* 2 */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::before,
::after {
  --tw-content: '';
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #f3f4f6;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.at-tableloader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.at-tableloader .lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 25px;
  height: 25px;
  margin: 0;
  border-radius: 50%;
  border: 4px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.email-preview table {
  @apply !table-auto !border;
}

.email-preview table td,
.email-preview table th {
  @apply !border !p-3;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.disabled {
  pointer-events: none; /* Disable pointer events to prevent interaction */
  opacity: 0.6; /* Reduces opacity for a faded appearance */
  cursor: not-allowed; /* Change the cursor to 'not-allowed' */
}

.ant-modal-content {
  background: transparent !important;
  box-shadow: none;
  padding: 0px;
}

.ant-modal-content {
  /* height: 94vh !important; */
  background: transparent !important;
  box-shadow: none !important;
}
.customSelectError .ant-select-selector {
  border: 1px solid red !important;
}
.customSelect .ant-select-selector {
  border: 1px solid #cbd5e0 !important;
}

/* Antd Side Bar CSS */
.ant-menu-submenu.ant-menu-submenu-vertical.ant-menu-submenu-selected
  .ant-menu-submenu-title {
  color: #007ab6;
  background-color: #ffffff;
}

.ql-container {
  border-radius: 8px;
}

/* Tiptap */

.tiptap {
  /* Remove top margin for the first child */
  outline: none;
  padding-top: 20;
}

.tiptap.ProseMirror {
  padding-top: 30px;
}

.tiptap:first-child {
  margin-top: 0;
}
.tiptap a {
  color: #007ab6;
  cursor: pointer;
}

.tiptap a:hover {
  color: #4d9ec6;
}

.email-preview a {
  color: #007ab6;
  cursor: pointer;
  text-decoration: underline;
}

.email-preview a:hover {
  color: #4d9ec6;
}

/* hr */
.tiptap hr {
  border: 1px solid !important;
}

.email-preview hr {
  border: 1px solid;
}

/* Image styles */
.tiptap img {
  display: block;
  height: auto;
  margin: 1.5rem 0;
  max-width: 100%;
}

.email-preview img {
  display: block;
  height: auto;
  margin: 1.5rem 0;
  max-width: 100%;
}

.tiptap .ProseMirror-selectednode {
  outline: 2px solid #007ab6;
}

/* Youtube Video */

.tiptap div[data-youtube-video] {
  cursor: move;
  padding-right: 1.5rem;
}

.tiptap div[data-youtube-video] iframe {
  border: 0.5rem solid #464647;
  display: block;
  min-height: 200px;
  min-width: 200px;
  outline: 0 solid transparent;
}

.tiptap div[data-youtube-video].ProseMirror-selectednode iframe {
  outline: 1px solid #464647;
  transition: outline 0.15s;
}

.email-preview div[data-youtube-video] iframe {
  border: 0.5rem solid #464647;
  display: block;
  min-height: 200px;
  min-width: 200px;
  outline: 0 solid transparent;
}

/* List styles */
.tiptap ul,
.tiptap ol {
  padding: 0 1rem;
  margin: 1.25rem 1rem 1.25rem 0.4rem;
}

.tiptap ul li p,
.tiptap ol li p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

/* Heading styles */
.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  line-height: 1.1;
  margin-top: 2.5rem;
  text-wrap: pretty;
}

.tiptap h1,
.tiptap h2 {
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}

.tiptap h1 {
  font-size: 1.4rem;
}

.tiptap h2 {
  font-size: 1.2rem;
}

.tiptap h3 {
  font-size: 1.1rem;
}

.tiptap h4,
.tiptap h5,
.tiptap h6 {
  font-size: 1rem;
}

/* Code and preformatted text styles */
.tiptap code {
  background-color: var(--purple-light);
  border-radius: 0.4rem;
  color: var(--black);
  font-size: 0.85rem;
  padding: 0.25em 0.3em;
}

.tiptap pre {
  background: var(--black);
  border-radius: 0.5rem;
  color: var(--white);
  font-family: 'JetBrainsMono', monospace;
  margin: 1.5rem 0;
  padding: 0.75rem 1rem;
}

.tiptap pre code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}

/* Blockquote styles */
.tiptap blockquote {
  border-left: 3px solid var(--gray-3);
  margin: 1.5rem 0;
  padding-left: 1rem;
}

/* Horizontal rule styles */
.tiptap hr {
  border: none;
  border-top: 1px solid var(--gray-2);
  margin: 2rem 0;
}

.tiptap table,
.email-preview table {
  border-collapse: collapse;
  margin: 0;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}

.tiptap table td,
.tiptap table th,
.email-preview table td,
.email-preview table th {
  border: 1px solid;
  box-sizing: border-box;
  min-width: 1em;
  padding: 6px 8px;
  position: relative;
  vertical-align: top;
}

.tiptap table td > *,
.tiptap table th > *,
.email-preview table td > *,
.email-preview table th > * {
  margin-bottom: 0;
}
.tiptap table th,
.email-preview table th {
  background-color: #f3f3f3;
  font-weight: bold;
  text-align: left;
}

.tiptap table .selectedCell:after {
  background: #f3f3f3;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

.tiptap table .column-resize-handle {
  background-color: var(--blue-light);
  bottom: -2px;
  pointer-events: none;
  position: absolute;
  right: -2px;
  top: 0;
  width: 4px;
}

.tiptap .tableWrapper {
  margin: 1.5rem 0;
  overflow-x: auto;
}

.tiptap.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}
